body {
  background: #dcdcdccf;
  font-family: "Bowlby One SC", cursive;
  margin: 0;
  letter-spacing: 0.05em;
  overflow-x: hidden;
}

text {
  font-family: "Patua One", cursive;
}

h2 {
  font-family: "Francois One", sans-serif;
  font-weight: lighter;
}

.header {
  background: black;
  color: #f7f7f2;
  margin-bottom: 0.5em;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  overflow: hidden;
}

.centered {
  text-align: center;
}

.x-axis-group,
.y-axis-group {
  display: flex;
  flex-direction: column-reverse;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.x-selector,
.y-selector {
  margin-top: 1em;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
}

#chart {
  display: block;
  margin: 0 auto;
  background: white;
  border: 1px solid grey;
}

.vertical-center {
  display: flex;
  align-self: center;
  margin-left: 1em;
  margin-right: 1em;
}

.hidden {
  display: none;
}

.initial {
  display: initial;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.side-menu {
  border: 2px solid #636363;
  padding: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-left: 1em;
  background: #f1f1f1;
  max-height: 650px;
}

.side-menu:hover,
.tooltip {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.footer {
  margin-top: 2em;
  margin-bottom: 2em;
}

.one-label {
  background-color: #b13019;
  padding: 0.2em;
  color: whitesmoke;
}

.two {
  background-color: whitesmoke;
}

.two-label {
  background-color: #5c14c8;
  color: whitesmoke;
  padding: 0.2em;
}

.three-label {
  background-color: #4fd764;
  padding: 0.2em;
  color: whitesmoke;
}

.four-label {
  background-color: #f8ac47;
  padding: 0.2em;
  color: whitesmoke;
}

.five-label {
  background-color: #08d1c0;
  padding: 0.2em;
  color: whitesmoke;
}

.season-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.season-label {
  align-self: center;
  margin-right: 0.5em;
  color: #2b2b2b;
}

.logo {
  margin: 0;
  font-size: 2em;
  padding-top: 0.3em;
  padding-bottom: 0.1em;
}

.axis-input {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.break-line {
  margin-top: 1em;
}

.axis-label {
  min-width: 71px;
  align-self: center;
  margin: 0;
  text-align: center;
}

.axis-label:first-child {
  margin-top: 0;
}

.season-label {
  margin: 0;
}

.filter-by-pos-header {
  margin: 0;
  margin-bottom: 0.5em;
}

.filter-by-team-header {
  margin: 0;
  margin-top: 0.7em;
  margin-bottom: 0.2em;
}

.highlight-player-header {
  margin: 0;
  margin-top: 0.3em;
  margin-bottom: 0.2em;
}

.team-filter-wrapper {
  margin-top: 1em;
  margin-bottom: 0.9em;
}

.highlight-wrapper {
  margin-bottom: 0.7em;
}

select {
  text-align-last: center;
  padding-right: 29px;
}

.watch-list-header {
  margin: 0;
}

.highlighted-players {
  margin: 0;
  margin-top: 0.5em;
  padding: 0;
  background-color: white;
  list-style: none;
  min-width: 14em;
  margin-bottom: 0.7em;
}

.watching {
  padding: 0;
  text-align: center;
  text-transform: capitalize;
  background: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-links {
  text-decoration: none;
  color: black;
}

.footer-links:hover {
  color: #756d6d;
}

.sub-title {
  margin: 0;
  padding-bottom: 0.5em;
}

.information-open {
  text-orientation: upright;
  writing-mode: tb-rl;
  align-self: center;
  position: fixed;
  left: 0;
  top: 35%;
}

.information-open:hover {
  cursor: pointer;
}

#information {
  width: 0;
  z-index: 10;
  overflow-x: hidden;
  transition: 0.5s;
  left: 0;
  top: 35%;
  position: fixed;
}